<div class="jumbotron">
  <h1>Alphabet</h1>

  <h3>Vowels</h3>
  <table class="alphabet">
    <tr>
      <td class="border">Key</td>
      <td class="border">Glyph</td>
      <td class="border">Sound</td>
      <td class="border">Meaning</td>
    </tr>
    <tr ng-repeat="glyph in vowels">
      <td class="border">{{glyph.key}}</td> 
      <td class="border bUlam">{{glyph.key}}</td> 
      <td class="border">{{glyph.sound}}</td> 
      <td class="border">{{glyph.meaning}}</td>
    </tr>
  </table>

  <h3>Consonants</h3>
  <table class="alphabet">
    <tr>
      <td class="border">Key</td>
      <td class="border">Glyph</td>
      <td class="border">Sound</td>
      <td class="border">Meaning</td>
    </tr>
    <tr ng-repeat="glyph in consonants">
      <td class="border">{{glyph.key}}</td> 
      <td class="border bUlam">{{glyph.key}}</td> 
      <td class="border">{{glyph.sound}}</td> 
      <td class="border">{{glyph.meaning}}</td>
    </tr>
  </table>

  <h3>Punctuation</h3>
  <table class="alphabet">
    <tr>
      <td class="border">Key</td>
      <td class="border">Glyph</td>
    </tr>
    <tr ng-repeat="glyph in puncMarks">
      <td class="border">{{glyph.key}}</td> 
      <td class="border bUlam">{{glyph.key}}</td> 
    </tr>
  </table>  
</div>

<div class="footer">
  <p>bUlam</p>
</div>
