<div class="jumbotron">
  <h1><span class="bUlam">bUlam</span></h1>

  <p>Welcome to learning bUlam, the Warrior's Language</p>

  <p>In order to view this site correctly, you must download the kUaelom <a href="#/fonts/kUaelom.ttf">font</a>.</p>

  <p>If this text: <span class="bUlam">kUaelom</span> Does not look like this: <img src="/images/kUaelom.jpg"> Download the font from the link above.</p>

  <p>Use the links above to navigate through the site<br>
  Whether you are here to learn bUlam, or are just here to look around, the best place to start is in the alphabet section.<br>
  This will introduce you to the glyphs that make up bUlam. You will learn how each one is pronounced as well as the key on your keyboard that will create the symbol while using the font in other programs.</p>

  <p>After you learn how to pronounce the glyphs, you are free to enter any of the other sections. However, the links above have been ordered from left to right in the easiest progression to learn the language.</p>
</div>

<div class="footer">
  <p>bUlam</p>
</div>
