<div class="jumbotron">
  <h1>Verbs</h1>

  <table class="alphabet">
    <tr>
      <td class="border">Type</td>
      <td class="border">SubType</td>
      <td class="border">Tense</td>
      <td class="border">Verb Part</td>
      <td class="border">English</td>
      <td class="border">bUlam</td>
    </tr>
    <tr ng-repeat="verb in verbs">
      <td class="border">{{verb.type}}</td> 
      <td class="border">{{verb.subtype}}</td> 
      <td class="border">{{verb.tense}}</td> 
      <td class="border">{{verb.verbPart}}</td> 
      <td class="border">{{verb.english}}</td>
      <td class="border bUlam">{{verb.bUlam}}</td> 
    </tr>
  </table>
</div>

<div class="footer">
  <p>bUlam</p>
</div>
